/* Poore page ke liye basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; /* Abhi simple font rakhte hain */
}

/* Poore App ke liye background */
.main-container {
  min-height: 100vh; /* Poori height use karo */
  background-color: #0E382C; /* Starbucks jaisa dark green background */
  color: #fff; /* Text white rakho */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}